/Sistema Ared Espacio/AredEspacio/build/
/Sistema Ared Espacio/AredEspacio/dist/
Sistema Ared Espacio/AredEspacio/nbproject/private/private\.properties

Sistema Ared Espacio/AredEspacio/nbproject/private/private\.xml
